// 1200px
@media (max-width: 75em) {
  .main-section {
    gap: 4.9rem;
    margin: 11.8rem 0rem;
  }

  .header-section {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.9rem;
    // to center the element inside the main tag
    width: 100vw;
  }

  .review {
    width: 80vw;

    &__title {
      font-size: 4rem;
      margin-bottom: 1.7rem;
    }

    &__text {
      font-size: 1.9rem;
    }
  }

  .rate {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    gap: 1.5rem;
    padding: 1.5rem 0 1.5rem 0;

    &:nth-child(2) {
      margin-left: 0;
    }

    &:nth-child(3) {
      margin-left: 0;
    }
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;

    &__text {
      padding: 0 3rem;
      line-height: 1.5;
    }
  }

  .author {
    width: 75vw;
    padding: 4rem 0rem 0rem 0rem;

    &:nth-child(2) {
      margin-top: 0;
    }

    &:nth-child(3) {
      margin-top: 0;
    }

    &__name {
      font-size: 1.6rem;
    }

    &__state {
      font-size: 1.3rem;
    }

    &__container {
      margin-left: 3rem;
      margin-bottom: 2.3rem;
    }
  }

  body {
    background-image: url("../images/bg-pattern-top-mobile.svg"),
      url("../images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top left, right bottom;
  }
}
