////////   COLOR   ////////
$color-primary: hsl(300, 43%, 22%);
$color-secondary: hsl(333, 80%, 67%);

$color-primary-grahish: hsl(303, 10%, 53%);
$color-white-grayish: hsl(300, 24%, 96%);
$color-white: hsl(0, 0%, 100%);

////////  FONT  ///////
$font-default: "League Spartan", sans-serif;
